* {
    margin: 0;
    padding: 0;
}

button {
  background: linear-gradient(135deg, #00c6ff, #0072ff); /* skaists gradient */
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 6px 16px rgba(0,0,0,0.4);
  background: linear-gradient(135deg, #0072ff, #00c6ff); /* apgriezts gradient */
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgba(102, 156, 91, 1); /* pelēks fons */
  background-image: url("images/a-mix.lv.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; /* samazina, bet nepārsniedz oriģinālo izmēru */
  color: #fff;
  font-family: Arial, sans-serif;
}


.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.hidden {
  display: none;
}

.square {
  position: absolute;
  width: 120px;
  height: 120px;
  background: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: top 0.3s ease, transform 0.3s ease;
}

/* Kaudze apakšā */
.stack {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 33%; /* max trešdaļa ekrāna */
  pointer-events: none;
}

.square.stack-mode {
  pointer-events: auto; /* ļauj klikšķināt kvadrātus kaudzē */
}
